# .env
NODE_ENV=development
PORT=3000


# Database connection URL
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis connection URL
REDIS_URL=



# RabbitMQ connection URL
RABBITMQ_URL=
RABBITMQ_USER=
RABBITMQ_PASSWORD=